@import "~bootstrap/dist/css/bootstrap.min.css";

.main, .mail{
    height: 100vh;
    background-image: linear-gradient(to bottom left,#606060, #202020 );
    box-sizing: border-box;
    /*margin-right: 15px;*/
    padding: 0;

}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    padding-left: 15px;
}

img:hover{
    transform: scale(1.15, 1.15);
}

img{
    height: 100%;
}

.button{
    border-radius: 5%;
}

textarea{
    height: 50px;
}

p{
    color: #cccccc;
}

h3{
    color: #ffffff;
}